.main{
     height: 95vh;
     background-color: #0F141C;
     display: flex;
     justify-content: center;
     align-items: center;
}

.info_display{
     background: linear-gradient(167deg, #091527 0%, #071f41 80%, #0b306b 95%);
     margin: 10em 20em;
     border-radius: 20px;
     height: 80vh;
     width: 30em;
     padding: 2em 4em;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.hi_message{
     color: #81DDF1;
}

.welcome_message{
     display: flex;
     padding: 0;
}

.main_welcome_message{
     color: white;
     margin-right: .3em;
}

.product_name{
     color: #F5095F;
}

.continue_button{
     display: flex;
     justify-content: end;
}